{# templates/marius/edit.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}
    Édition de {{ entityName }}
{% endblock %}

{% block body %}
    <h1>Édition de {{ entityName }}</h1>

{# Vous pouvez ajouter des formulaires pré-remplis ou d'autres éléments ici pour éditer un élément existant #}
{% endblock %}
