{# templates/marius/list.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}
    Liste des {{ entityName }}
{% endblock %}

{% block body %}
    <h1>Liste des {{ entityName }}</h1>

    <ul>
        {% for item in items %}
            <li>{{ item.name }}</li>
            {# Vous pouvez afficher d'autres propriétés de l'entité ici #}
        {% endfor %}
    </ul>
{% endblock %}
