{# templates/marius/new.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}
    Création d'un nouvel élément {{ entityName }}
{% endblock %}

{% block body %}
    <h1>Création d'un nouvel élément {{ entityName }}</h1>

{# Vous pouvez ajouter des formulaires ou d'autres éléments ici pour créer un nouvel élément #}
{% endblock %}
